/*---Alta Tragos---*/

* {
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.alta-check {
    appearance: none !important;
    background-color: #fff !important;
    margin: 0 !important;
    font: inherit !important;
    color: currentColor !important;
    width: 1.15em !important;
    height: 1.15em !important;
    border: 0.15em solid currentColor !important;
    border-radius: 0.15em !important;
    transform: translateY(-0.075em) !important;
    display: grid !important;
    place-content: center !important;
  }

  .alta-check::before {
    content: "" !important;
    width: 0.65em !important;
    height: 0.65em !important;
    transform: scale(0) !important;
    transition: 120ms transform ease-in-out !important;
    box-shadow: inset 1em 1em #181818 !important;
  }
  
  .alta-check:checked::before {
    transform: scale(1) !important;
  }
  

.alta-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.alta-wrapper > * {
    padding: 1em;
}

.alta-form {
    background: #222222;
}

.alta-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.alta-form form label {
    display: block;
}

.alta-form form p {
    margin: 0;
    padding: 1em;
}

.alta-form form .block {
    grid-column: 1 / 3;
}

.alta-form form button,
.alta-form form input,
.alta-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.alta-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.alta-form form button:hover,
.alta-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}


/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .alta-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .alta-wrapper > * {
        padding: 2em;
    }
    .alta-info h4,
    .alta-info ul,
    .alta-info p {
        text-align: left;
    }
}
.boton-volver {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid white;
    font-size: 18px;
}

.boton-volver:hover {
    transform: scale(1.1);
    background-color: #B70E21;
    border: 1px solid white;
}

.boton-volver:hover div {
    cursor: pointer;
}

.boton-volver div {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
