* {
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-form{
    max-width: 600px;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
}
.boton-volver {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid white;
    font-size: 18px;
}

.boton-volver:hover {
    transform: scale(1.1);
    background-color: #B70E21;
    border: 1px solid white;
}

.boton-volver:hover div {
    cursor: pointer;
}

.boton-volver div {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}


