/* Estilos para el loader */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50% rgb(183,14,35);
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none; /* Oculto por defecto */
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tragos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tragos-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.tragos-wrapper > * {
    padding: 1em;
}

.divaltadetragos{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

@media screen and (max-width: 513px) {
    .card {
        width: 90%;
    }
}